<div class="settings-panel">
  <select
    class="select-style"
    [value]="questionLimit"
    (change)="questionLimitChange.emit(+$any($event.target).value)"
  >
    <option value="null" disabled>Question amount</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="totalWords">All</option>
  </select>

  <select
    class="select-style"
    [value]="quizMode"
    (change)="quizModeChange.emit($any($event.target).value)"
  >
    <option value="null" disabled>Quiz mode</option>
    <option value="term-to-definition">Term to Definition</option>
    <option value="definition-to-term">Definition to Term</option>
  </select>
</div>
